.obras{
    background-color: rgb(84, 156, 219);
}

.scrollpsy-test{
    height: 600px;
    overflow-y: auto;
    border: 1px solid black;
    width: 80%;
    margin-left: 5%;
}

.imagen-obras{
    max-height: 242px;
    max-width: 135px;
}