<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../Artistas-web/main">
    <link rel="stylesheet" href="../Static/CSS/main.css">
    <title>ComprArte</title>
</head>
<body>
    <section>  
        <div class="container-fluid mt-5 ms-5">
            <table class="responsive">
                <tr>
                    <td>
                        <img src="../Static/Images/5.jpg" width="400rem" height="300rem"></img>
                    </td>
                    <td>
                        <div class>
                            <table class="table table-striped" style="width: 80%; height: auto;">
                                <tr>
                                    <h2>Detalle</h2>
                                    <th scope="col">Historia</th>
                                    <th scope="col">Más allá de clasificaciones, esta pieza nos transmite una sensación de intimidad y relajación. La existencia de momentos para el disfrute personal, del sosiego a través de la lectura.</th>
                                </tr>
                                <tr>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Óleo sobre lienzo (23 x 18 cm)</th>
                                </tr>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Dos mujeres leyendo</th>
                                </tr>
                                <tr>
                                    <th scope="col">Precio</th>
                                    <th scope="col">22,93 millones de euros</th>
                                </tr>
                                <tr>
                                    <th scope="col">Técnica usada</th>
                                    <th scope="col">Cubismo</th>
                                </tr>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">1934</th>
                                </tr>
                            </table >
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>      

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>