<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/CSS/main.css">
    <link rel="stylesheet" href="../Static/CSS/obras.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>ComprArte</title>
</head>
<body class="container-fluid obras">
    <header class="conteiner-fluid mt-5">
        <div class="row bg-body-tertiary">
            <div class="col-7">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="../main.html">
                            <img src="../Static/Images/arte logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                            ComprArte
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="../main.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Nuestros Artistas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Encuentranos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Contactanos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class=" d-grip gap-2 col mt-2 bg-body-tertiary">
                <a href="../Templates/login.html" class="btn btn-outline-primary" role="button">
                    <img src="../Static/Images/usuario.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Ingresa
                </a>
            </div>
            <div class="col mt-2 bg-body-tertiary">
                <ul>
                    <li><a href="../main.html">Clientes</a></li>
                    <li><a href="artistas.html">Artistas</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="conteiner-fluid mt-5 bg-white scrollpsy-test">
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="../Static/Images/Obras miguel angel/adonis.jpg" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> El David es una de las obras maestras del Renacimiento según la mayoría de los historiadores, y una de las esculturas más famosas del mundo.</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver más
                </button>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="../Static/Images/Obras miguel angel/centauromaquia.jpg" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> La batalla de los centauros es una escultura en relieve en mármol del escultor Miguel Ángel datada cerca de 1493 y que se guarda en el museo de la Casa Buonarroti de Florencia.</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver más
                </button>
            </div>
        </div>    
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="../Static/Images/Obras miguel angel/la creacion.jpg" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> Ilustra uno de los nueve episodios del Génesis representados allí por el artista toscano,1​ en el cual Dios le da vida a Adán, el primer hombre. Cronológicamente, es el cuarto de los paneles que representan episodios del Génesis en el techo de la capilla, fue de los últimos en ser completados y es una de las obras de arte más apreciadas y reconocidas en el mundo</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver más
                </button>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="../Static/Images/Obras miguel angel/la-piedad.jpg" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> La Virgen María, joven, bella y piadosa, cuyas vestiduras se expanden con numerosos pliegues, sostiene a Cristo muerto y que, intencionadamente, aparenta mayor edad que la madre, en una composición triangular sosegada, llena de ternura y que muestra el dolor de una madre al ver a su hijo muerto en sus brazos. La juventud de la Virgen María es muestra del idealismo renacentista: se trata de representar el ideal de belleza y juventud, una madre eternamente joven y bella.</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver más
                </button>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="../Static/Images/Obras miguel angel/madonna.jpg" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> esta es una prueba para la tarea</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver más
                </button>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="../Static/Images/Obras miguel angel/moises.jpg" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> esta es una prueba para la tarea</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver más
                </button>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
  
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>